input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
}

input:read-only {
  cursor: default;
}
